{% extends 'base.html'%}


<!-- Content block -->
{% block content %}
<h1 class="text-center ">Welcome to TechBlog</h1>
<div class="card p-5 ">
    <h5 class="text-center ">"QUOTE"</h5>
    <div class="card-header fs-3">
      ----{{quotes.author}}
    </div>
    <div class="card-body border border-success border border-4 rounded-3">
      <blockquote class="blockquote mb-0">
        <p>{{quotes.quote}}</p>
        <footer class="blockquote-footer">Ready and set <cite title="Source Title">to code</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 p-2">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>

    
{% endblock %}