{% extends 'base.html'%}


<!-- Content block -->
{% block content %}
<h1 class="text-center ">Welcome to TechBlog</h1>
<div class="card p-5 ">
    <h5 class="text-center text-danger">"QUOTE"</h5>
    <div class="card-header fs-3">
      ----{{quotes.author}}
    </div>
    <div class="card-body border border-success border border-4 rounded-3">
      <blockquote class="blockquote mb-0">
        <p>{{quotes.quote}}</p>
        <footer class="blockquote-footer">Ready and set <cite title="Source Title">to code</cite></footer>
      </blockquote>
    </div>
  </div>
  <h5 class="text-center text-danger fs-3">"BLOGS"</h5>
  <div class="row row-cols-1 row-cols-md-3 g-4 p-2  ">
    <div class="col">
      <div class="card border border-danger ">
        <img src="https://images.unsplash.com/photo-1584714268709-c3dd9c92b378?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDd8fG5ld3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">I believe we are here on the planet Earth to live, grow up.........</p>
          <a class="btn btn-info" href="#" role="button">Readmore</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-warning">
        <img src="https://images.unsplash.com/photo-1536150794560-43f988aec18e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHNwb3J0cyUyMG5ld3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p class="card-text">"Being happy never goes out of style." Lilly Pulitzer......</p>
          <a class="btn btn-info" href="#" role="button">Readmore</a>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card border border-info">
        <img src="https://images.unsplash.com/photo-1553778263-73a83bab9b0c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHNvY2NlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sports</h5>
          <p class="card-text">"You are the sum total of everything you've ever seen, heard, eaten, smelled, been told......</p>
          <a class="btn btn-info" href="#" role="button">Readmore</a>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="card border border-primary">
        <img src="https://images.unsplash.com/photo-1593349480506-8433634cdcbe?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTAzfHx0ZWNobm9sb2d5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Technology</h5>
          <p class="card-text">"All you need in this life is ignorance and confidence; then......</p>
            <a class="btn btn-info" href="#" role="button">Readmore</a>
        </div>
        
      </div>
    </div>
    <div class="col">
        <div class="card border border-primary">
          <img src="https://images.unsplash.com/photo-1605834971676-ae92df689820?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fHRvdXJpc218ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tourism</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer....</p>
            <a class="btn btn-info" href="#" role="button">Readmore</a>
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="card border border-primary">
          <img src="https://images.unsplash.com/photo-1461360370896-922624d12aa1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGlzdG9yeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">""Never lose sight of the face that the most important ......</p>
            <a class="btn btn-info" href="#" role="button">Readmore</a>
          </div>
          
        </div>
      </div>
  </div>

    
{% endblock %}