{% extends 'base.html'%}


<!-- Content block -->
{% block content %}
<h1 class="text-center ">Welcome to TechBlog</h1>
<div class="card p-5 ">
    <h5 class="text-center text-danger">"QUOTE"</h5>
    <div class="card-header fs-3">
      ----{{quotes.author}}
    </div>
    <div class="card-body border border-success border border-4 rounded-3">
      <blockquote class="blockquote mb-0">
        <p>{{quotes.quote}}</p>
        <footer class="blockquote-footer">Ready and set <cite title="Source Title">to code</cite></footer>
      </blockquote>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4 p-2  ">
    <div class="col">
      <div class="card border border-danger ">
        <img src="https://images.unsplash.com/photo-1520223841611-f9f3253d46e1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzZ8fG5hdHVyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rosa Parks</h5>
          <p class="card-text">I believe we are here on the planet Earth to live, grow up.........</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-warning">
        <img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lilly Pulitzer</h5>
          <p class="card-text">"Being happy never goes out of style." Lilly Pulitzer......</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-info">
        <img src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fG5hdHVyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maya Angelou</h5>
          <p class="card-text">"You are the sum total of everything you've ever seen, heard, eaten, smelled, been told......</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border border-primary">
        <img src="https://images.unsplash.com/photo-1539667468225-eebb663053e6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fG5hdHVyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mark Twain</h5>
          <p class="card-text">

            Mark Twain
            "All you need in this life is ignorance and confidence; then......</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card border border-primary">
          <img src="https://images.unsplash.com/photo-1611771341253-dadb347165a8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTJ8fG5hdHVyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Johnny Cash</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer....</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card border border-primary">
          <img src="https://images.unsplash.com/12/till-the-cows-come-home.jpg?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjV8fG5hdHVyYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Barbara Bush</h5>
            <p class="card-text">""Never lose sight of the face that the most important ......</p>
          </div>
        </div>
      </div>
  </div>

    
{% endblock %}